.movie-info {
    padding: 50px 0;
    &__list {
        background: rgba(0, 0, 0, 0.5);
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__img {
        padding-left: 0;
    }
    &__info {
        position: relative;
    }
    &__title {
        color: #fff;
        font-weight: 700;
        font-size: 30px;
        letter-spacing: -1px;
        margin-top: 20px;
    }
    &__status {
        color: #d4cdcd;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 5px;
    }
    &__overview {
        color: #d4cdcd;
        font-weight: 500;
        font-size: 16px;
    }
    &__rate {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 15px;
        &-title {
            color: #fff;
            font-weight: 500;
            font-size: 17px;
        }
        & meter {
            width: 130px;
            min-height: 30px;
            margin-right: 15px;
            &::-webkit-meter-optimum-value {
                background: #1cb1a4;
            }
            &::-webkit-meter-bar {
                background: none;
                background-color: #fff;
            }
        }
        & label {
            color: #fff;
            margin: 0;
        }
    }
    &__directors {
        padding: 0;
        color: #fff;
        list-style: none;
        font-weight: 500;
        font-size: 14px;
        &-title {
            color: #fff;
            font-weight: 700;
            font-size: 20px;
        }
    }
    &__icon {
        width: 80px;
        display: block;
        position: absolute;
        right: 30px;
        bottom: 30px;
        color: #fff;
    }
}