.movie-info {
    &__directors {
        padding: 0;
        color: #fff;
        list-style: none;
        font-weight: 500;
        font-size: 14px;
        &-title {
            color: #fff;
            font-weight: 700;
            font-size: 20px;
        }
    }
    &__icon {
        width: 80px;
        display: block;
        position: absolute;
        right: 30px;
        bottom: 30px;
        color: #fff;
    }
}