.first-section {
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    color: #fff;
    &__text {
        padding: 20px 0;
    }
    &__title {
        margin-bottom: 30px;
        font-weight: 700;
        max-width: 600px;
    }
    &__overview {
        margin: 0;
        max-width: 600px;
        font-weight: 500;
        font-size: 17px;
    }
    &__error {
        width: 100%;
        min-height: 100vh;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1d1c1c;
        z-index: -1;
        color: #fff;
        font-size: 40px;
    }
}

.movies .first-section__spinner {
    background-color: #1d1c1c;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    position: absolute;
    top: 0px;
    z-index: -1;
    align-items: center;
}